<div class="ftrWrap">
  <footer>
      <div class="ftrLogo">
          <img src="/public/img/snowpeak%20logo.png" alt="">
      </div>
      <div class="info">
          <h3>By subscribing to our newsletter, you agree to Snowpeak Korea Policy and Terms of Use.</h3>
          <div class="sns">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-square-twitter"></i>
              <a href="/admin"><button>admin page</button></a>
            </div>
      </div>
  </footer>
</div>